.Grid {
    border: 1px solid black;
    box-sizing: border-box;
    flex: 1 0 0;
    text-align: center;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.JournoCluster {
    display: flex;
    flex-wrap:wrap;
    text-overflow: ellipsis;
    overflow:   auto;
}
