

.showDropDown {
    display: flex;
    padding: 0;
    margin: 5px;
    background: #fff;
    position: absolute;
    z-index: 2;
}

.hideDropDown {
    display: none;
}

.dropdownButton {
    display: flex;
    font-size: 0.8rem;
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid #ec2227;
    cursor: pointer;
    text-align: center;
    outline: none;
    background: #ec2227;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

.droppedDiv {
    border: 1px solid #616160;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}