.JournoInEdit {
    display: flex;
    align-items: center;
    padding-left: 5px;
    gap: 5px;
    border: 1px solid #101828;
    border-radius: 6px;
    margin: 2px;
    user-select: none;
    max-width: 90%;
}

.JournoImg {
    width: 40px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
}

.JournoName {
    font-weight: 700;
    color: #000000;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
    margin: 5px;
}

.crossIcon {
    align-self: flex-start;
    color: #6B6E74;
}



@media (max-width: 1000px) {

    .JournoInEdit {
        gap: 1px;
    }
    .JournoImg {
        width: 25px;
        height: 25px;
    }

    .JournoName {
        font-size: 14px;
        line-height: 14px;
    }
    .crossIcon {
        font-size: 12px;
    }

}