.JournalistDiv {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 1px 1px 1px rgb(128 128 128);
    align-items: center;
    width: 75px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600 ;
    user-select: none;
    
}

.JournalistImage {
    width: 70px;
    height: 70px;
    cursor: -webkit-grab;
}
.JournalistImage:active {
    cursor: -webkit-grabbing;
}

@media (max-width: 1000px) {
    .JournalistDiv {
        width: 60px;
    }
    .JournalistImage {
        width: 55px;
        height: 55px;
    }
}
