.Spectrum {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
}

.axisLabel {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    transform: rotate(270deg);
    position: absolute;
    width: fit-content;
    color: #ec2227;
}